# Dependencies
node_modules/
**/node_modules/

# Env
.env
.env.local
.env.*.local

# Build output
.next/
dist/
build/
out/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
docker/volumes/

# Python (AI service)
__pycache__/
*.pyc
.venv/
venv/

# Misc
*.pem
.terraform/
*.tfstate
*.tfstate.*
